<section>
    <div class="row">
        <div class="col-sm text-center">
            <mat-list>
                <h3 mat-subheader>
                    Asistente &nbsp;
                    <mat-icon (click)="helper.show();" #helper="matTooltip" matTooltipClass="help-primary" matTooltipPosition="right" matTooltip="Selecciona una consulta para generar el campo automáticamente" class="pointer">report</mat-icon>
                </h3>
                <mat-list>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, me gustaría tener una aplicación móvil de mi empresa');">
                            Hola, me gustaría tener una aplicación móvil de mi empresa.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, quiero una aplicación en Android & IOs');">
                            Hola, quiero una aplicación en Android & IOs.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, ¿Qué es una aplicación hibrida y como la utilizo en mi negocio?');">
                            Hola, ¿Qué es una aplicación hibrida y como la utilizo en mi negocio?.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, ¿Qué es una aplicación web progresiva y como la utilizo en mi negocio?');">
                            Hola, ¿Qué es una aplicación web progresiva y como la utilizo en mi negocio?.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, ¿Qué es una aplicación nativa y como la utilizo en mi negocio? ');">
                            Hola, ¿Qué es una aplicación nativa y como la utilizo en mi negocio?. 
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, Me gustaría saber la diferencia entre una aplicación nativa e hibrida y cual es más recomendable para mi negocio');">
                            Hola, Me gustaría saber la diferencia entre una aplicación nativa e hibrida y cual es más recomendable para mi negocio.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, tengo un proyecto en mente y quiero hacerlo en una app');">
                            Hola, tengo un proyecto en mente y quiero hacerlo en una app.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Hola, Quiero una aplicación web progresiva');">
                            Hola, Quiero una aplicación web progresiva.
                      </span>
                    </mat-list-item>
                    <div class="space-10 d-md-none"></div>
                    <mat-list-item>
                        <mat-icon class="icons">send</mat-icon>&nbsp;
                        <span (click)="getHelperString('Solo quiero decir hola');">
                            Solo quiero decir hola
                      </span>
                    </mat-list-item>
                </mat-list>
            </mat-list>
        </div>
    </div>
</section>